<footer class="page-footer font-small pt-4" style="background-color: #1409ad;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Rocha-Vinicius" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/rochaavinicius/" target="_blank" class="icoGitHub">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/vinny.rochaa/" target="_blank" class="icoGitHub">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="foother-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2020 Copyright: </span>
        <a href="https://github.com/Rocha-Vinicius/Projeto_Integrado" target="_blank">
        Salutem.com</a>
    </div>

</footer>
