#img-bg{
    background-image: url(https://i.pinimg.com/originals/85/a5/15/85a51504340319a40f681bb4be84f7f2.jpg);

    min-height: 977px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgba(153, 153, 153, 0.609);
    width: 18rem
}
 .bgb{
     background-color: #080b8a;
 }