#img-bg{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/948/812/920/pac-man-wallpaper-preview.jpg);

    min-height: 888px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgba(148, 155, 158, 0.404);
    width: 18rem
}
 .bgb{
     background-color: #080b8a;;
 }