<div class="container-fluid" style="background-color: #080b8a;">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-0">
                    <div class="align-items-center card bg" style="height: 25rem; width: 20rem;">
                        <div class="card-body">

                            <h1 class="text-center mb-3 text-light">Entrar</h1>

                            <div class="form-group text-light">
                                <label for="usuario">Usuário</label>
                                <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" 
                                id="usuario" placeholder="Seu usuário">
                            </div>

                            <div class="form-group text-light">
                                <label for="senha">Senha</label>
                                <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" 
                                id="senha" placeholder="Sua senha">
                            </div>

                            <div class="mt-4 d-flex justify-content-center">
                                <button class="btn btn-info" (click) ='entrar()'>Entrar</button>
                            </div>

                            <hr class="mt-4 mb-4">

                            <p class="text-center text-light">
                                Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg"></div>

    </div>

</div>
