#img-bg{
    background-image: url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1);

    min-height: 888px;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgba(148, 155, 158, 0.404);
    width: 18rem
}